# Ignore build outputs and VCS
_dist/
bin/
vendor/
.git/
.gitignore
.DS_Store

# DO NOT ignore go.mod/go.sum or source
!go.mod
!go.sum
!cmd/**
!pkg/**
!testdata/**
!acceptance_tests/**
!scripts/**
!Makefile
